*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    max-width: 500px;
    margin: auto;
}
h1{
    text-align: center;
}

.training_mode{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 10px;
    cursor: pointer;
}

button:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}

#start_btn{
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: white;
    font-size: 36px;
}