*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.content{
    max-width: 800px;
    margin: auto;
}
h1{
    text-align: center;
}

.training_mode{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin: 10px;
    cursor: pointer;
}

button:hover{
    background-color: green;
    cursor: pointer;
    color: white;
}

.stopwatch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}


.filed {
    display: flex; /* enable Flexbox */
    justify-content: center; /* center child elements horizontally */
    align-items: center; /* center child elements vertically */
  }
.exe_con{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

p{
    cursor: pointer;
}

p:hover{
    color: red;
}

h2{
    text-align: center;
}